<div>
	<md-toolbar>
		<div class="md-toolbar-tools">
			<p><strong>{{ $ctrl.APPNAME }}</strong></p>
			<md-button ng-click="$ctrl.leftNav()">
				<md-icon class="mdi mdi-plus-circle"></md-icon>
				{{ $ctrl.GETWEATHER }}
			</md-button>
			<!-- fill up the space between left and right area -->
			<span flex></span>
			<md-button><a ui-sref="list">{{ $ctrl.MOREPROJECTS }}</a></md-button>
		</div><!-- ./ md-toolbar-tools -->
	</md-toolbar><!-- ./ md-toolbar -->
</div><!-- ./ div -->

<!-- Side Nav Content -->
<md-sidenav class="md-sidenav-left md-whiteframe-4dp" md-component-id="left">
	<md-toolbar class="md-theme-light">
		<h1 class="md-toolbar-tools">{{ $ctrl.WEATHERAPI }}</h1>
	</md-toolbar><!-- ./ md-toolbar -->
	<md-content layout-padding>
		<form>
			<md-input-container>
				<label for="city-input">{{ $ctrl.TYPECITY }}</label>
				<input type="text" id="city-input"
					ng-model="$ctrl.cityValue" 
					md-autofocus/>
				<md-button ng-click="$ctrl.getWeather()" class="md-primary">{{ $ctrl.GETWEATHER }}</md-button>
			</md-input-container>
		</form>
		<md-button ng-click="$ctrl.rightNav()" class="md-primary">
			Cancel
		</md-button><!-- ./ md-button -->
	</md-content><!--./ md-content -->
</md-sidenav><!-- ./ md-sidenav -->
<!-- End Side Nav Content -->